*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@500&display=swap');

body{
    background: #F0F0F0
}
nav{
    font-family: 'Roboto', sans-serif ;
    background-color: hsl(206, 9%, 15%);
    padding:20px 37px 38px;
    border-bottom: 5px solid #0094D4;
    
}
.blanco{
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    color: #fff;
    margin-left: 95px;
}
h1{
    font-family: 'Open Sans', sans-serif;
    padding-top: 138px;
    font-size: 70px;
    color: #fff;
    text-align: center;
}
h2{
    font-family: 'Open Sans', sans-serif;
    margin-top: 0%;
    margin-bottom: 30px;
    float: left;
    
}
.textimg{
    font-family: 'Open Sans', sans-serif;
    margin-top: 32px;
    font-size: 30px;
    text-align: center;
    color: #fff;
}
.informacion{
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-align: center;
    padding-bottom: 25px;
}
.azul{
    font-family: 'Open Sans', sans-serif;
    margin-left: 7px;
    font-size: 35px;
    color:#0094D4 ;
    
}
#inicio{
    color: #0094D4;
}
a{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #fff;
    float: right;
    margin-right: 45px;
    margin-top: 10px;
    text-decoration: none;
}
ul{
    margin-bottom: 30px;
    margin-right: 85px;
}
.imagen{
    
    background:url("../images/cabecera.jpg")  no-repeat ;
    width: 100%;
   height: 500px; 
}
.clear{
    clear: both;
}
.email{
    background-color: #292929;
    padding-top: 27px;
    padding-bottom: 52px;
}
#Subscribete{
    cursor: pointer;
    font-weight:bolder;
    font-family: 'Roboto', sans-serif ;
    background-color: #E8491D;
    border: #E8491D;
    color: #fff;
    margin-right: 165px;
    padding: 11px 14px 11px 14px;
    margin-top: -6px;
}
#email{
    color: #ADACB7;
    font-weight:bolder;
    font-family: 'Roboto', sans-serif ;
    font-size: 13px;
    padding: 8px 85px 8px 4px;
    margin-top: -5px;
    margin-right: 5px;
}
.datos{
    float: right;
}
h3{
    font-family: 'Open Sans', sans-serif;
    float: left;
    color: #fff;
    font-size: 25px;
    padding-left: 132px;
    margin-bottom: 10px;
}
.imagenLogos{
    width: 100px;
    height: 100px;
}
.subLogos{
    font-family: 'Roboto', sans-serif ;
    padding: 10px 0px;
}
.logos{
    text-align: center;
    float: left;
    margin-left: 245px;
    margin-top: 25px;
}
footer{
    overflow: hidden;
    font-family: 'Roboto', sans-serif ;
    color: #fff;
    background: #1293D4;
    text-align: center;
    padding-bottom: 26px;
    padding-top: 26px;
}
.info{
    font-family: 'Roboto', sans-serif ;
    padding: 52px 0px;
}

.izquierda1{
    font-family: 'Roboto', sans-serif ;
    margin-left: 135px;
    margin-right: 10px;
    float: left;
}
.parrafo1{
    width: 1000px;
    margin-bottom: 20px;
}
.parrafo2{
    background-color: #35424A;
    margin: 20px 0px;
    color: #fff;
    width: 980px;
    padding: 15px 10px ;
}
.imagenNosotros{
    width: 30px;
    height: 407px;
    margin-bottom: 15px;
    
}
.subIzquierda{
    font-size: 20px;
    margin: 20px 0px;
}
.mini-info{
    font-family: 'Roboto', sans-serif ;
    float: right;
    background: #35424A;
    margin: 20px 158px 0 0;
    width: 400px;
    padding: 20px;
    
}
#mini-tituloInfo{

    color: #fff;
    margin-bottom: 10px;
    font-size: 25px;
}
#mini-texto{
    color: #fff;
    text-align: start;
}
.tipoServicios{
    font-family: 'Roboto', sans-serif ;
    background: #E6E6E6;
    width: 750px;
    margin-top: 5px;
    border: 3px solid #E0E0E0;
}
.titulServic{
    font-size: 20px;
    margin: 0 0 0 26px;
    padding-top: 30px;
}
.descripcion{
    margin: 15px 0 0px 26px;
    padding-bottom: 15px;
}
.precios{
    margin: 0 0 0 26px;
    padding-bottom: 30px;
}
#endService{
    margin-bottom: 30px;
}
.contacto{
    color: #0094D4;
}
.mapa{
    float: right;
    margin: -455px 158px 30px 0;
    width: 437px;
    height: 400px;
}

.datosPerso{
    float: left;
    padding: 10px 100% 10px 5px;
    font-size: 15px;
    border: 2px solid #B4B4B4;
}
label{
    float: left;
    font-size: 20px;
}
.formulario{
    float: left;
    width: 800px;
    margin-left: 135px;
    
}
#Mensaje{
    padding-bottom: 180px; 
    width: 22%;
}
.enviar{
    float: left;
    color: #fff;
    background: #E8491D;
    font-size: 20px;
    text-align: center;
    padding: 15px 468px 15px 468px;
    margin-top: 10px;
    border: 2px solid #B4B4B4;
    margin-bottom: 50px;
    cursor: pointer;
}